<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{block title}Default Title{/block}</title>
    {block head}
    
    {/block}
</head>
<body>
    {block content}

    {/block}

    {block scripts}
  
    {/block}
</body>
</html>
